@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  max-width: 70px;
  height: 35px;
  margin-top: 45px;
  margin-left: 40px;
  display: inline-block;
  background-color: red;
  border: thin solid black;
  border-radius: 3px;
  color: white;
}
